html,
body {
  min-height: max(100%, 100vh);
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  color: #fff;
  background: rgb(87,205,172);
background: linear-gradient(45deg, rgba(87,205,172,1) 0%, rgba(17,17,17,1) 10%, rgba(17,17,17,1) 90%, rgba(87,205,172,1) 100%);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline;
  margin-right: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding: 0px;
  text-align: center;
}

.profile-card {
  border-radius: 15px;
  background-color: #222;
  padding: 20px;
  margin: 10px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  transition: 0.2s;
}

.profile-card:hover {
  background-color: #252525;
  transition: 0.2s;
  scale: 1.05;
}

.profile-card h2 {
  padding: 0px;
  opacity: 1;
  color: #fff;
}

.profile-card p {
  opacity: 1;
  color: #ddd;
}

.profile-image {
  margin: 20px;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

a:focus,
a:active {
  color: #fff;
  outline: none;
}

.projects {
  text-align: center;
}

.project-card {
  border-radius: 15px;
  background-color: #222;
  padding: 20px;
  margin: 10px;
  max-width: 700px;
  min-height: 200px;
  display: inline-block;
  vertical-align: top;
  transition: 0.2s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  height: auto;
}

.project-card h3 {
  margin: 15px 0;
}

.project-card p {
  margin: 15px 0;
}

.project-card a {
  border-radius: 10px;
  display: inline-block;
  margin: 15px 0;
  width: 300px;
  padding: 10px 15px;
  background-color: #333;
  color: #ddd;
  text-decoration: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.project-card a:hover {
  background-color: #444;
  transition: 0.2s;
}

.project-card:hover {
  background-color: #252525;
  transition: 0.2s;
  scale: 1.05;
}