html,
body {
  min-height: max(100%, 100vh);
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  color: #fff;
  background: linear-gradient(120deg, #13145a, #2a1b40, #140a21);
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.image-container {
  position: relative;
  height: 60vw;
  overflow: hidden;
  width: auto;
}

.views {
  margin-bottom: 20px;
}

.use-button {
  background-color: rgb(0, 0, 0, 0.8);
  border-radius: 5px;
  height: 50px;
  width: 200px;
  text-decoration: none;
  color: #fff;
  border: #000000;
  border-radius: 10x;
  scale: 1;
  transition: 0.1s;
  align-items: center;
  justify-content: center;
  display: flex;
}

.use-button:hover {
  background-color: rgba(0, 0, 0, 0.4);
  scale: 1.05;
  transition: 0.2s;
  color: #ddd;
}

.star {
  position: absolute;
  background: white;
  border-radius: 50%;
  padding: 1px;
  transition: 1s;
}

.image {
  max-width: 100%;
  height: auto;
}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline;
  margin-right: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: inherit;
}

.image-container {
  position: relative;
  height: 60vw;
  overflow: hidden;
}

.image {
  width: 80%;
  transition: 0.2s;
  border-radius: 10px;
}

.image:hover {
  width: 82%;
  transition: 0.2s;
}

#Image1 {
  position: absolute;
  top: 50% + 5vw;
  left: 50% + 5vw;
  transform: translate(-50%, -50%);
}

/* Specify styles for the other images */
#Image2 {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Adjust as needed */
  transform: translate(-50%, -50%);
}

#Image3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  text-align: center;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.content h1 {
  font-size: 2rem;
  margin: 0;
}

.kernel-info {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  opacity: 0.9;
  padding: 20px;
  max-width: 700px;
  margin: 0 auto;
}

.kernel-info h1 {
  opacity: 1;
  font-size: 24px;
  margin-top: 0;
}

.kernel-info p {
  opacity: 1;
  margin: 10px 0;
}

.kernel-info .item {
  opacity: 1;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.kernel-info .item:nth-child(even) {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.try-button {
  left: 10px;
  background-color: rgba(0, 0, 0, 1);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  border: #000000;
  border-radius: 10x;
  scale: 1;
  transition: 0.2s;
}

.try-button:hover {
  left: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  scale: 1.05;
  transition: 0.2s;
  color: #ddd;
}

.title {
  flex: 1;
}

.title h1 {
  font-size: 2rem;
  margin: 0;
}

.title h2 {
  font-size: 1.5rem;
  margin: 0;
}

.badges-container {
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
  display: flex; /* Aligns items in a row */
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  right: 10px;
  align-items: right;
  justify-content: right;
}

.badges-container li {
  margin-right: 10px; /* Adjust spacing between items as needed */
}

.badges-container a {
  display: inline-block; /* Ensures that the link and image fit properly */
}

.badges {
  text-decoration: none;
  color: #fff;
  scale: 1;
  transition: 0.2s;
  margin-right: 10px;
  min-width: 120px;
  height: 25px;
}

.badges img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.badges:hover {
  color: #ddd;
  scale: 1.05;
  transition: 0.2s;
}


.card-svg-bg {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 100px;
  height: 100px;
  padding: 40px;
}

.card-svg {
  fill: #fff;
}

.card {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  padding: 20px;
  border-radius: 10px;
  max-width: 700px;
  max-height: 180px;
  margin: 20px auto;
  transition-duration: 0.2s;
  overflow: hidden;
}

.card:hover {
  opacity: 1;
  scale: 1.025;
  transition-duration: 0.2s;
}

.card-content {
  opacity: 1;
  flex: 1;
  margin: 20px;
}

.card-content h2 {
  opacity: 1;
  font-size: 1.5rem;
  margin: 0px 0px;
}

.card-content p {
  opacity: 1;
  font-size: 1rem;
  line-height: 1.5;
}

.card-content a {
  opacity: 1;
  font-size: medium;
  background-color: rgba(0, 0, 0, 1);
  padding: 10px;
  border-radius: 5px;
  margin-top: 0px;
  text-decoration: none;
  color: #fff;
}

.card-content a:hover {
  font-size: medium;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ddd;
}
