html,body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease;
  color: #fff;
  height: max(100%,100vh);
  background: linear-gradient(135deg, #000, #57cdac);
}


.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline;
  margin-right: 20px;
}

.nav-menu li a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding: 0px;
  text-align: center;
}

/* Style for profile cards */
.profile-card {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 10px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  transition: 0.2s;
}

.profile-card:hover {
  background-color: rgba(0, 0, 0, 1);
  transition: 0.2s;
  scale: 1.05;
}

.profile-card h2 {
  padding: 0px;
  opacity: 1;
  color: #fff;
}

.profile-card p {
  opacity: 1;
  color: #ddd;
}

.profile-image {
  background-color: rgba(10, 10, 10, 0.7);
  padding: 10px;
  margin: 10px;
  border-radius: 10%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

a:focus,
a:active {
  color: #fff;
  outline: none;
}

.project-card {
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 10px;
  width: 600px;
  min-height: 500px;
  display: inline-block;
  vertical-align: top;
  transition: 0.2s;
}
.project-card img {
  width: 100%;
  border-radius: 5px;
  opacity: 1;
  height: auto;
}
.project-card h3 {
  margin: 15px 0;
}
.project-card p {
  margin: 15px 0;
}
.project-card a {
  border-radius: 10px;
  display: inline-block;
  margin: 15px 0;
  width: 300px;
  padding: 10px 15px;
  background-color: #57cdac;
  color: #fff;
  text-decoration: none;
}
.project-card:hover {
  background-color: rgba(0, 0, 0, 1);
  transition: 0.2s;
  scale: 1.005;
}

/* The side navigation menu */
.sidebar {
  margin: 10px;
  padding: 0;
  width: 200px;
  background-color: rgb(10,10,10,0.4);
  position: fixed;
  height: 100%;
  overflow: auto;
  border-radius: 10px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: #ddd;
  padding: 16px;
  text-decoration: none;
}


/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(10,10,10,0.8);
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.dropdown-button {
  background-color: rgb(10,10,10,0.4);
  margin: 10px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 0px;
  width: 500px;
  text-align: left;
}

.dropdown-button:hover {
  background-color: rgb(10,10,10,0.6);
}

.dropdown-content {
  display: none;
}

/* CSS for showing dropdown content when dropdown is clicked */
.dropdown-content.show {
  display: inline-block;
  background-color: rgb(10,10,10,0.6);
  margin: 10px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border-width: 0px;
  width: 500px;
  text-align: left;
}

.dropdown-content li {
  list-style-type: none;
  padding-top: 15px;
  padding-bottom: 15px;
}
